
html {

}

* {
	box-sizing: border-box;
}

a, a:hover, button, button:hover {
	transition: all 200ms linear;
	cursor: pointer;
}

body {
	background-color: #FFF;
	font-family: Arial, "sans-serif";
	font-size: 1.26vmax;
	line-height: 1.9vmax;
	color: #323232;
}

a {
	text-decoration: none;

}

li {

}

.container {
	width: 75vw;
	margin: 0 auto;
	position: relative;
}


.site-background {
	height: 200vh;
}

/**
* Header 
*/
header {
	width: 100%;
	height: 100vh;
	background-image: url(../img/bg.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.topmenu {
	padding-top: 3vh;
}

.topmenu > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.topmenu > li:last-child {
  margin-right: 0;
}

.nav_panel {
	position: fixed;
	top: 0;
	background-color:#fff;
	width: 100%;
	
	color: #000;
	opacity: .3;
	transition: all 1s;
}
.nav_panel:hover {
	opacity: .8;
}


a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
  color: #000;
}

a:hover {
	color: #afdafc;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 12vw;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;

}
.submenu {
  -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  background: #161a1e;
  opacity: 0.5;
}

.sub_li {
	width: 300px;
	color: #000;
}

.sub_li a {
	color: #fff;
}

.sub_li a:hover {
	color: #aaa;
}

li:hover .submenu {
  -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

#blob {
	width: 20vh;
	height: 20vh;
}

.stripe {
	width: 10vw;
}

.header-content {
	margin-top: 0vh;
	padding-top: 20vh;
}

#header_title {
	text-align: center;
	font-size: 14vh;
	margin-top: 1vh;
	letter-spacing: 1.5vw;
	color: #000;
	margin-bottom: 7vh;
}

#header_subtitle {
	text-align: center;
	margin-top: 1vh;
	color: #000;
	font-size: 3vh;
	letter-spacing: .8vw;
}

#header_button {
	text-align: center;
	border: 4px double black; 
	margin:7% 44% 0 44%;
}


#shop_button {
	border: 4px double black; 
	width:30vh;
	position: absolute;
	
	width:30vh;
}

.fixedNav {
	position: fixed;
	top: 0;
	opacity: 0.5;
	left: 0;
	background-color: #fff;
	color: #323232;
	width: 100%;
	height: 10vh;
	z-index: 10;
}

.fixedNav:hover {
	opacity: 1;
	z-index: 10000;
}

/****
* SLIDER
*/
.slide {
	height: 100%;
}

#slider {
	height: 70vh;
}

.slide-text {
	height: 100%;
	flex: 1;
}

.slide-image img{
	height: 100%;
	
	margin-top: 10vh;
}

.slide-info, .slide-title {
	text-align: center;
	font-family: Courier;
}

.slide-info {
	font-size: 24pt;
}

.slide-title {
	font-size: 32pt;
}

